*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: lightblue;
}

.container div:last-child {
    height: 200px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

p {
    font-size: 20px;
}

#age,
#distance {
    display: inline-block;
    width: 50px;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 5px;
    background-color: pink;
    font-size: 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.info-ticket-price,
.info-passenger-age,
.info-distance {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#price {
    font-size: 50px;
    font-weight: 700;
    color: darkorchid;
}